@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background-image: radial-gradient(circle, #d47777, #c78663, #b29560, #9aa16e, #85a985, #68ad94, #43afab, #0cafc6, #00aae9, #009dff, #8285ff, #d957ec);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* header */
header {
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}

header .libar {
  justify-content: right;
}

header .libar li {
  font-size: 25px;
  text-align: right;
  text-shadow: 2px 2px 2px #0d1cf3;
}

/* index */
.jumbotron {
  background-color: rgba(29, 185, 177, 0.075);
  color: rgba(255, 0, 0, 0.719);
  text-shadow: 1px 1px 1px violet;
  text-align: center;
}

/* nosotres */
h1 {
  color: rgba(255, 0, 0, 0.671);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.cardsn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardsn .ch2 {
  text-align: center;
  color: #f33b3b;
}

.cardsn p {
  text-align: center;
}

.cardsn .cardst {
  background-color: #009dff27;
}

/* contacto */
form {
  text-align: center;
  color: rgba(255, 0, 0, 0.493);
}

.check {
  text-align: center;
}

/* multimedia */
.mm {
  text-align: center;
  color: rgba(255, 0, 0, 0.664);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "e1 e1"
    "e2 e2"
    "e3 e4"
    "e5 e6"
    "e7 .";
}

.mm .e1 {
  grid-area: e1;
}

.mm .e2 {
  margin: 20px;
  grid-area: e2;
}

.mm .e3 {
  margin: 5px;
  grid-area: e3;
}

.mm .e4 {
  margin: 5px;
  grid-area: e4;
}

.mm .e5 {
  margin: 5px;
  grid-area: e5;
}

.mm .e6 {
  margin: 5px;
  grid-area: e6;
}

.mm .e7 {
  margin: 5px;
  grid-area: e7;
}

.mult {
  text-align: center;
  color: #dd3838;
}

/* noticias */
.noticias {
  height: auto;
  background-color: #308bc434;
}

.noticias .ni {
  height: auto;
  padding: 10px;
}

.noticias .nt {
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 816px) {
  h1 {
    font-size: 50px;
  }

  .mm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "e1 e1"
      "e2 e2"
      "e3 e3"
      "e4 e4"
      "e5 e5"
      "e6 e6"
      "e7 e7";
  }
}

/* footer */
footer {
  height: auto;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px violet;
  font-size: 30px;
  background-image: url(../img/wave2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer .tf {
  font-size: 30px;
  color: red;
  font-family: 'Oleo Script Swash Caps', cursive;
}

footer i {
  color: red;
  margin-right: 25px;
}