@import "./components/variable";
@import "./components/fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
    background-image: radial-gradient(circle, #d47777, #c78663, #b29560, #9aa16e, #85a985, #68ad94, #43afab, #0cafc6, #00aae9, #009dff, #8285ff, #d957ec);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

