header {
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;

    h1 {
        text-align: center;
        font-family: 'Oleo Script Swash Caps', cursive;
        color: rgb(255, 0, 0);
        font-size: 50px;
        text-shadow: 1px 1px 1px violet;
    }

    li {
        text-shadow: 1px 1px 1px violet;
    }
}