/* index */
.jumbotron {
    background-color: rgba(29, 185, 177, 0.075);
    color: rgb(247, 1, 1);
    text-align: center;
}

/* nosotres */
h1 {
    color: rgba(255, 0, 0, 0.671);
    font-family: 'Rubik Moonrocks', cursive;
    font-size: $h1;
    text-align: center;
    text-transform: uppercase;
}

.cardsn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .ch2 {
        font-size: $h2;
        text-align: center;
        color: rgb(243, 59, 59);
    }

    p {
        text-align: center;
    }

    .cardst {
        background-color: #009dff27;
    }
}

/* contacto */
form {
    text-align: center;
    color: rgba(255, 0, 0, 0.493);
    padding: 50px;
}

.check {
    text-align: center;
}

/* multimedia */
.mm {
    text-align: center;
    color: rgba(255, 0, 0, 0.664);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "e1 e1"
        "e2 e2"
        "e3 e4"
        "e5 e6"
        "e7 .";

    .e1 {
        @include size(0, 0, e1);
    }

    .e2 {
        @include size(10px, 10px, e2);
    }

    .e3 {
        @include size(5px, 2px, e3);
    }

    .e4 {
        @extend .e3;
        grid-area: e4;
    }

    .e5 {
        @extend .e3;
        grid-area: e5;
    }

    .e6 {
        @extend .e3;
        grid-area: e6;
    }

    .e7 {
        @extend .e3;
        grid-area: e7;
    }
}

.mult {
    text-align: center;
    color: rgb(221, 56, 56);
}

/* noticias */
.noticias {
    height: auto;
    background-color: #308bc434;

    .ni {
        height: auto;
        padding: 10px;
    }

    .nt {
        text-align: center;
    }
}

@media only screen and (min-width:320px) and (max-width:816px) {
    h1 {
        font-size: 50px;
    }

    .mm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "e1 e1"
            "e2 e2"
            "e3 e3"
            "e4 e4"
            "e5 e5"
            "e6 e6"
            "e7 e7";
    }
}